body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.846;
  color: #666666;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: lightblue;
  margin: 0px !important;
}

.upper-nav {
margin: 0px;
margin-top: 7px;
vertical-align: middle;
}

.navbar-brand {
  float: left;
  padding: 20.5px 15px;
  font-size: 24px;
  line-height: 23px;
  height: 50px;
  margin-left: 0px !important;
}

#iaits{
  border: none;
  transition: all 0.4s;
  vertical-align: middle;
  height: 24px;
  border-color: transparent;
  text-align: center;
}

#iaits:hover{
  color: wheat;
}

#upper-button {
  border: none;
  transition: all 0.4s;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: lightslategrey;
  border-color: transparent;
  text-align: center;
  touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  font-size: 17px;
  border-radius: 3px;
  user-select: none;
}

#upper-button:hover{
  background-color: lightblue;
  color: wheat;
}

#scrape-button {
  border: none;
  transition: all 0.4s;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-color: #38B0DE;
  color: #ffffff;
  font-size: 16px;
  }

  #scrape-button:hover {
    background-color: green;
  }

li {
  padding: 5px;
  margin: 5px;
}

.jumbotron {
  text-align: center;
  width: 100%;
  height: 400px;
  padding-top: 78px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.title {

  padding-top: 75px;
}

.panel {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
}

.panel-heading {
  background-color: #5f6366;
  position: relative;
  margin-bottom: 0px;
  padding-top: 0px;

}

.panel-body {
  font-size: 16px;
  padding: 15px;
}

.article-link {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.save-it {
  display: inline-block;
  border: none;
  background-size: 200% 200%;
  background-position: 50%;
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
}

.delete-it {
  display: inline-block;
  border: none;
  background-size: 200% 200%;
  background-position: 50%;
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 130px;
}

.new-note {
  display: inline-block;
  border: none;
  background-size: 200% 200%;
  background-position: 50%;
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
}